.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* 滚动条整体 */
div::-webkit-scrollbar {
	background: #efefef;
	width: 8px;
}
/* 滚动条滑块 */
div::-webkit-scrollbar-thumb {
	width: 8px;
	background: rgba(24, 28, 47, 0.2);
	border-radius: 10px;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}
/* 滚动条轨道 */
div::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
	background: #ededed;
	border-radius: 10px;
}
* {
  scrollbar-color: #e5e5e5 #f7f7f9; /* 滑块颜色  滚动条背景颜色 */
  scrollbar-width: thin; /* 滚动条宽度有三种：thin、auto、none */
}
